{% extends "base.html" %}
{% load static %}

{% block title %}
Support
{% endblock %}

{% block content %}
<div class="banner-pic has-text-centered">
<figure>
    <img src="{% static "image/banner-4.jpg" %}" alt="">
</figure>
<div class="support-text has-text-white is-size-4">
    <p>these things can never die</p>
    <p>Charles Dickens</p>
    <p>The pure, the bright, the beautiful, </p>
    <p>That stirred our hearts in youth, </p>
    <p>The impulses to wordless prayer,</p>
    <p>The dreams of love and truth. </p>
</div>
</div>
{% endblock %}
